.product-details{
   
    display: flex;
    
    justify-content: center;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    padding: 10px 2px;
    background-color: rgb(245, 245, 245);
   
}
.product-details .left{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    
}
.left img:hover{
    box-shadow: 0px 0px 10px -2px black;
}
.product-details .right{
    
    /* border: 2px solid red; */
    padding:2rem 3rem;
    /* display: flex; */
    
    
    
}
.product-price{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.similar-products{
    /* border: 2px solid red; */
    padding: 1.5rem;
}
/* wish list  */

.wishList-box{
    padding-top: 4rem;
}


.wish-header{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 1rem;
}
.wishlist-count{
   font-weight: 400;
   color: rgb(82, 81, 81);
}

.pro-wishlist{
    display: flex;
    
}

.size-section{
    /* border: 2px solid red; */
    display: flex;
    gap: 15px;
}

.size-section div{
    border: 1px solid gray;
    /* padding: 1rem; */
    
    height: 2.5rem;
    width: 2.5rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.size-section div:hover{
    background-color: rgb(213, 213, 213);
}


/* Add this to your CSS or a stylesheet */
.size-option {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  text-align: center;
  transition: background-color 0.3s ease;
}

.size-option:hover {
  background-color: #f5f5f5;
}

.selected-size {
  background-color: #868686; /* Dark grey background color for selected size */
  color: white;
}





.card-btn-pro-detail{
      
  display: flex;
  /* justify-content: center; */
  gap: 10px;
}

.pro-price-detail {
   
    display: flex;
    align-items: center;
    gap: 10px;
    
   
}
.pro-price-detail .fp {
   
    font-size: 25px;
    font-weight: bold;
}

.pro-price-detail .sp {
    /* border: 2px solid green; */
    text-decoration: line-through;
    color: #474646;
    font-size: 15px;
}

.pro-price-detail .off{
    font-size: 15px;
    color:  rgb(110, 189, 246);
}

@media screen and (max-width:950px) {

    .product-details{
   
    flex-direction: column;
        
     
        
       
    }
    
   
     
  }