.admin-dashboard{
    /* border: 2px solid red; */
    padding-top: 5rem;
}
.admin-dashboard-product-content{
    /* border: 2px solid red; */
    width: 90%;
    margin: auto;
    margin-bottom: 1.5rem;
    background-color: rgb(242, 241, 241);
    box-shadow: 0px 0px 10px -2px black;

}

.admin-dashboard-content{
     /* border: 2px solid yellow; */
     margin-top: 200px;
     padding-top: 60px;
     padding-bottom: 60px;
     box-shadow: 0px 0px 10px -2px rgb(130, 129, 129);
     width: 80%;
    
     padding: 50px;
     margin: auto;
}

.admin-data-box{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
}



.admin-navbar-1{
   
    width: 60%;
    margin: auto;
    display: flex;
    padding: 10px;
    background-color: rgb(233, 233, 233);
    gap: 30px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px -2px black;
    margin-bottom: 40px;
}


.admin-link{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 25px;
    /* border: 1px solid gray; */
}

.admin-link:hover{
    border-bottom: 1px solid black ;
}






@media screen and (max-width:920px) {

   
.admin-navbar-1{

    width: 90%;
    gap: 15px;
}
     
  }

  
@media screen and (max-width:600px) {

    .admin-navbar-1{
        width: 90%;
        flex-direction: column;
    }

    .admin-data-box{
    
        width: 100%;
       
    }
  }

  .admin-dashboard-product{
    /* border: 2px solid black; */
    margin-top: 5rem;
  }




.admin-pro-list{
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.admin-pro-form{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;

    justify-content: center;
}


/* category page */

.admin-dashboard-category{
    margin-top: 3rem;
    

}

.admin-dashboard-category-form{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-category-form{
    /* border: 2px solid green; */
    margin: auto;
    margin-bottom: 2rem;
}


/* ++++++++++++++++++++++++++++  create category form +++++++++++++++++++++++++++++++++ */


.admin-cat-page{
    /* border: 2px solid yellow; */

    width: 90%;
    margin: auto;
    margin-top: 2rem;
    background-color: rgb(242, 241, 241);
    box-shadow: 0px 0px 10px -2px black;
    
}


.admin-cat-form{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.admin-cat-form .cat-input{
    /* border: 2px solid green; */
    display: flex;
    gap: 2rem;
    flex-direction: row;
    justify-content: center;
}
.admin-cat-form .cat-input-data{
    /* border: 2px solid  pink; */
    
    /* width: 25rem; */
    
}


.cat-input button{
    border: 1px solid rgb(110, 189, 246);
    width: 12rem;
    border-radius: 0.4rem;
    font-weight: 500;
    background-color: white;
    color: rgb(110, 189, 246);
    font-size: 1.4rem;
    height: 2.3rem;
   
}
.cat-input button:hover{
    border: 1px solid black(110, 189, 246);
  
    background-color: rgb(110, 189, 246);;
    color: white;
   
}

.cat-create{
    border: 1px solid rgb(110, 189, 246);
    width: 12rem;
    border-radius: 0.4rem;
    font-weight: 500;
    background-color: white;
    color: rgb(110, 189, 246);
    font-size: 1.4rem;
    height: 2.3rem;
}

.cat-create:hover{
    border: 1px solid black(110, 189, 246);
  
    background-color: rgb(110, 189, 246);
    color: white;
   
}

.admin-sub-cat-list{
    /* border: 2px solid green; */
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0.5rem;
}

.admin-sub-cat-list .item{
    border: 2px solid ;
    display: flex;
    flex-direction: row;
    /* width: 10rem; */
    align-items: center;
    background-color: white;
    gap: 2rem;
     border-color:  rgb(110, 189, 246);
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;

}

.del-sub-cat{
    /* border: 2px solid yellow; */
    font-size: 600;
    font-size: 1.2rem;
    padding: 0.2rem;
    color: white;
    background-color: rgb(116, 176, 255);
    border-radius: 1rem;
    border-color: white;
}

.cat-list-item{
    /* border: 1px solid red; */
    font-weight: 600;
    font-size: 600;
}

/* ++++++++++++++++++++++++++++++++++++++ create product page ++++++++++++++++++++++++++++++++++++ */

.admin-image-list{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.admin-pro-desc{
    /* border: 2px solid red; */
    margin-bottom: 1rem;
}

.admin-pro-desc .item-group{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
        justify-content: flex-start;
    gap: 2rem;
}
.admin-pro-desc .item{
    /* border: 1px solid yellow; */
    width: 15rem;
}

.admin-pro-desc .pro-size{
    /* border: 2px solid red; */
    width: 12rem;
    /* font-size: 10rem; */
    margin-bottom: 1rem;
}


.admin-pro-desc .item-btn{
    border: 1px solid rgb(110, 189, 246);
    width: 12rem;
    border-radius: 0.4rem;
    font-weight: 500;
    background-color: white;
    color: rgb(110, 189, 246);
    font-size: 1.4rem;
   
}
.admin-pro-desc .item-btn:hover{
    border: 1px solid black(110, 189, 246);
    width: 12rem;
    border-radius: 0.4rem;
    font-weight: 500;
    background-color: rgb(110, 189, 246);;
    color: white;
   
}

@media screen and (max-width:800px) {
    .admin-cat-form .cat-input{
         
        flex-direction: column;
       gap: 0.5rem;
       margin-bottom: 0.5rem;
    }
    .admin-cat-page{
        /* border: 2px solid yellow; */
    
        width: 100%;
        margin: 0;
        margin-top: 1rem;
        
        
    }

  }


@media screen and (max-width:600px) {
    .admin-pro-desc .item-group{
        flex-direction: column;
    }

  }



  /* +++++++++++++++++ update product +++++++++++++++++++++++++++  */

  .update-pro-page{
    /* border: 2px solid red; */
    margin-top: 0.5rem;
  }
  .pro-update-form{
    /* border: 1px solid green; */
    width: 90%;
    margin: auto;
    background-color: rgb(242, 241, 241);
    box-shadow: 0px 0px 10px -2px black;
    display: flex;
    align-items: center;
    justify-content: center;
  }